//.wrapper {
//  height: 420px;
//  width: 654px;
//  margin: 50px auto;
//  border-radius: 7px 7px 7px 7px;
//  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
//  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
//  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
//}
//
//.product-img {
//  float: left;
//  height: 150px;
//  width: 150px;
//}
//
//.product-img img {
//  border-radius: 7px 0 0 7px;
//}
//
//.product-info {
//  float: left;
//  height: 420px;
//  width: 327px;
//  border-radius: 0 7px 10px 7px;
//  background-color: #ffffff;
//}
//
//.product-text {
//  height: 300px;
//  width: 327px;
//}
//
//.product-text h4 {
//  margin: 0 0 0 38px;
//  padding-top: 52px;
//  font-size: 34px;
//  color: #474747;
//}
//
//.product-text h4,
//.product-price-btn p {
//  font-family: 'Bentham', serif;
//}
//
//.product-text h6 {
//  margin: 0 0 47px 38px;
//  font-size: 13px;
//  font-family: 'Raleway', sans-serif;
//  font-weight: 400;
//  text-transform: uppercase;
//  color: #d2d2d2;
//  letter-spacing: 0.2em;
//}
//
//.product-text p {
//  height: 125px;
//  margin: 0 0 0 38px;
//  font-family: 'Playfair Display', serif;
//  color: #8d8d8d;
//  line-height: 1.7em;
//  font-size: 15px;
//  font-weight: lighter;
//  overflow: hidden;
//}
//
//.product-price-btn {
//  height: 103px;
//  width: 327px;
//  margin-top: 17px;
//  position: relative;
//}
//
//.product-price-btn p {
//  display: inline-block;
//  position: absolute;
//  top: -13px;
//  height: 50px;
//  font-family: 'Trocchi', serif;
//  margin: 0 0 0 38px;
//  font-size: 28px;
//  font-weight: lighter;
//  color: #474747;
//}
//
//span {
//  display: inline-block;
//  height: 50px;
//  font-family: 'Suranna', serif;
//  font-size: 34px;
//}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

///////////////////////

.c-card * {
  display: block;
  box-sizing: border-box;
}

.card-container {
  max-width: 900px;
  margin: 0 auto;
}

.c-card {
  display: inline-block;
  width: 90%;
  max-width: 350px;
  margin: 20px;
  cursor: auto;
  transition: all 0.3s ease;
  text-align: left;
  background: #fff;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
  }
  &__image {
    max-width: 100%;
  }
  &__header {
    float: left;
  }
  &__body{
    padding: 20px;
    float: left;
    padding-top: 30px;
  }
  &__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 13px;
    margin-top: 5px;
    padding: 0;
  }
  &__intro {
    margin-bottom: 0;
  }
  &__footer {
    padding: 20px;
    border-top: 1px solid #ddd;
    clear: both;
    text-align: center;
  }
}

.c-card--wide {
  max-width: 740px;
}

////////////////////
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  li {
    display: inline;
  }
}



