<div class="filters">
  <form id="filter">
    <input type="text"
           name="term"
           [(ngModel)]="term"
           [placeholder]="searchPlaceholder"/>
  </form>

  <label for="sort">Sort by</label>
  <select class="sort" id="sort" [(ngModel)]="selectedValue">
    <option value="name">Name</option>
    <option value="id">ID</option>
    <option value="price">Price</option>
  </select>
</div>

<section class="card-container">
  <article class="c-card c-card--wide" *ngFor="let item of pagedItems | filter: term | sort: selectedValue; let idx = index">

    <header class="c-card__header">
      <img src="{{item.thumbnailUrl}}" alt="{{item.name}}"/>
    </header>

    <div class="c-card__body">
      <h2 class="c-card__title">
        {{item.name}}
      </h2>
      <p class="c-card__subtitle">
        Date: {{item.creationDate | date}} / ID: {{item.id }}
      </p>
      <p>Price: {{item.price}}</p>
      <p class="c-card__intro">
        {{item.description}}
      </p>
    </div>

    <footer class="c-card__footer">
      <div class="product-price-btn">
        <button (click)="showDetails(item.id)">more info</button>
      </div>
    </footer>

  </article>
</section>

<!-- pagination -->
<div class="container-pagination">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</div>


